html * {
  font-family: 'Outfit', sans-serif;
}

.card {
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
}

.company-card-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body{
  padding: 0px 15px;
  margin: 15px 0px;
}

.card-body-description{
  background-color: rgba(168, 168, 168, 0.074);
  margin: 0px;
  margin-top: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

hr {
  padding: 0px;
  margin: 0px;
}

.card-title {
  font-family: Arial;
  font-weight: 700;
}

.card-body-location {
  display: flex;
}

.login-form-container {
  width: 600px;
  justify-content: center;
  align-items: center;

}

.bg-container {
  background-image: url('/assets/bg.png'); /* adjust path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tour-company-card-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  place-items: start center;  /* Aligns items top & centers horizontally */
}

#featured-heading-div {
  margin: 10px 75px;
  display: flex;
  justify-content: space-between;
}

#home-page-hero {
  width: 100%;
  height: 60vh;
  background-image: url('./assets/TravelBuddyBanner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

